<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Title</title>
</head>
<body>
{{#fonts}}
  <h1>{{name}}</h1>
{{/fonts}}
</body>
</html>
